@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.keyboard {
  display: flex;
  justify-content: center;
}

.key-row {
  display: flex;
}

.key {
  width: 50px;
  height: 50px;
  background-color: #404d83;
  border-radius: 5px;
  border-top: 1px solid #131cd6;
  text-align: center;
  line-height: 50px;
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
  /* box-shadow: 0 10px #f9ca24; */
  box-shadow: 0px 3px 0px 2px #131cd6;
  color: #cff1f6;
}
